{% extends 'base.html.twig' %}

{% import "@NdewezWebHomeCommon/macros/links.html.twig" as links %}
{% import "macros/links.html.twig" as auth_links %}
{% import "@NdewezWebHomeCommon/macros/icons.html.twig" as icons %}

{% block title %}{{ parent() }} - {{ 'groups.title.list'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ include('NdewezWebHomeCommonBundle::breadcrumb.thml.twig', {
            'links': [
                {'title': 'home.title.home', 'route': 'app_home'},
                {'title': 'groups.title.list', 'active': true},
            ]
        })
    }}
{% endblock %}

{% block body %}
    <h2>{{ 'groups.title.list'|trans }}</h2>

    <table class="appGroupsList">
        <thead>
            <tr>
                <th>{{ 'groups.label.code'|trans }}</th>
                <th>{{ 'groups.label.title'|trans }}</th>
                <th>{{ 'groups.label.active'|trans }}</th>
                <th>{{ 'groups.label.users'|trans }}</th>
                <th>{{ 'groups.label.applications'|trans }}</th>
                <th>{{ 'groups.label.authorizations'|trans }}</th>
                <th>{{ 'actions.label'|trans }} {% if is_granted('ROLE_AUTH_GRPS_ADD') %}{{ links.plus('groups.title.add'|trans, path('app_groups_add')) }}{% endif %}</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.code }}</td>
                <td>{{ group.title }}</td>
                <td class="appGroupsList-active">
                    {{ icons.active("", group.active) }}
                    {{ icons.deactive("", not group.active) }}
                </td>
                <td class="appGroupsList-users">
                    {{ group.users|length }}
                    {% if is_granted('ROLE_AUTH_USERS') %}
                        {{ auth_links.users('Utilisateurs', '#') }}
                    {% endif %}
                </td>
                <td class="appGroupsList-applications">{{ group.applications|length }}</td>
                <td class="appGroupsList-authorizations">
                    {{ group.authorizations|length }}
                    {% if is_granted('ROLE_AUTH_GRPS_AUTHZ') %}
                        {{ auth_links.authorizations('Autorisations', '#') }}
                    {% endif %}
                </td>
                <td class="appGroupsList-actions">
                    {% if is_granted('ROLE_AUTH_GRPS_EDIT') %}
                        {{ links.edit('actions.edit'|trans, path('app_groups_edit', {'id': group.id})) }}
                    {% else %}
                        {{ links.show('actions.show'|trans, path('app_groups_show', {'id': group.id})) }}
                    {% endif %}

                    {% if is_granted('ROLE_AUTH_GRPS_ACTIV') %}
                        {{ links.deactive('actions.deactivate'|trans, null, path('app_groups_deactivate', {'id': group.id}), group.active) }}
                        {{ links.active('actions.activate'|trans, null, path('app_groups_activate', {'id': group.id}), not group.active) }}
                    {% endif %}

                    {% if not group.hasUser and is_granted('ROLE_AUTH_GRPS_DEL') %}
                        {{ links.delete('actions.delete'|trans, null, path('app_groups_delete', {'id': group.id})) }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <th colspan="7">{{ 'table.no-element'|trans }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        new GroupsList($('.appGroupsList'));
    </script>
{% endblock %}
