{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'groups.title.add'|trans }}{% endblock %}

{% block breadcrumb %}
    {{ include('NdewezWebHomeCommonBundle::breadcrumb.thml.twig', {
            'links': [
                {'title': 'home.title.home', 'route': 'app_home'},
                {'title': 'groups.title.list', 'route': 'app_groups_list'},
                {'title': 'groups.title.add', 'active': true},
            ]
        })
    }}
{% endblock %}

{% block body %}
    <h2>{{ 'groups.title.add'|trans }}</h2>

    {{ form(form) }}

{% endblock %}
