{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ 'home.title.show_my_account'|trans }}</h2>

    <div class="form-group">
        <label>{{ 'show_account.label.username'|trans }} :</label>
        {{ app.user.username }}
    </div>

    <div class="form-group">
        <label>{{ 'show_account.label.group'|trans }} :</label>
        {{ app.user.group.title }}
    </div>

    {{ form(form) }}
{% endblock %}
